name: Generate Proto Packages

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main]

env:
  GO_VERSION: '1.24'

jobs:
  # Simple generation and testing
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Buf
        uses: bufbuild/buf-setup-action@v1.25.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.29.0

      - name: Clean old proto files in Flutter package
        run: rm -rf packages/flutter_package/proto/*

      - name: Copy proto files to Flutter package
        run: cp -r proto/. packages/flutter_package/proto/

      - name: Lint proto files
        run: buf lint

      - name: Generate Go code
        run: buf generate

      - name: Install protoc-gen-dart
        run: dart pub global activate protoc_plugin

      - name: Generate Dart proto code manually
        run: |
                export PATH="$PATH":"$HOME/.pub-cache/bin"
                cd packages/flutter_package
                rm -rf lib/src/generated
                mkdir -p lib/src/generated
                protoc \
                  --dart_out=grpc:lib/src/generated \
                  --proto_path=proto \
                  --proto_path=proto/google \
                  $(find proto -name '*.proto')

      - name: Generate Flutter code
        run: |
          cd packages/flutter_package
          flutter pub get
          flutter pub run build_runner build --delete-conflicting-outputs

      - name: Test Go package
        run: |
          cd packages/go_module
          go mod tidy
          go build ./...

      - name: Test Flutter package
        run: |
          cd packages/flutter_package
          flutter analyze